body {
	font: 13px/20px arial, serif;
}

.header-menu {
	background-color: #CCC;
	float: left;
	width: 100%;
}

.h5-bold {
	font-size: 14px;
	color: #173e43;
	font-weight: bold;
	line-height: 30px;
	margin-right: 8px;
}

.hide {
	display: none;
}

a {
	cursor: pointer;
	color: #033894;
	text-decoration: underline;
}

.btns {
	background-color: #212c62 !important;
	text-transform: uppercase;
	color: #fff !important;
	width: 100px;
	border-radius: 3px;
}

hr {
	border-color: #000 !important;
	margin-top: 3px;
	clear: both;
}

.cancl-btn {
	line-height: 35px;
  padding-left: 15px;
	text-transform: uppercase;
}

.form-horizontal {
	margin-top: 40px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: 0 !important;
	background: transparent !important;
}

.service-error {
	clear: both;
margin-top: 150px;
text-align: center;
font-size: 20px;
color: #FF0000;
display: none;
}

.paginate_button.current {
	text-decoration: underline !important;
	font-weight: bold;
	color: #000;
}

.float-left {
	float: left;
}

.mTop30 {
	margin-top: 30px !important;
}

.mTop20 {
	margin-top: 20px !important;
}

.clr-both {
	clear: both;
}

input[type="text"], input[type="password"], select {
	height: 28px;
	border: 1px solid #333;
}

input[type="text"], input[type="password"] {
	border: 1px solid #333;
	padding-left: 5px;
}

.s-by2 {
	background: transparent url("/images/calender.png") no-repeat right 2px;
	background-color: #fff;
	height: 28px;
}

.input-group-addon {
	background: #fff;
	padding: 2px 4px;
}

table#form-list1.dataTable thead .sorting, table#form-list1.dataTable thead .sorting_desc, table#form-list1.dataTable thead .sorting_asc {
	background: #daeef6 url("../lib/images/sort_desc.png") no-repeat 86px 16px !important;
}

#datetimepicker2 {
	float: right;
  width: 135px;
}

#datetimepicker2 .form-control {
	border-right: 0;
}

.form-control {
	border-radius: 0;	
}

.label-showrecords {
	float: left;
	line-height: 24px;
}

.inset-container {
	float: right;
	width: 246px;
	margin-bottom: 12px;
}

.inset-container .radios {
	margin-left: 12px !important;
}

ul {
	list-style-type: none;
}

.search-in {
	width: 7%;
	float: left;
	padding: 8px 0px 8px 10px;
}

.retail-only {
	float: left;
	width: 12%;
	padding-top: 12px;
}

.s-by1 {
	margin-left: 10px;
}

.bo-business {
	float: left;
	width: 12%;
	padding-top: 12px;
}

.search-bys {
	float: left;
	width: 35%;
	padding: 5px 4px;
	padding-left: 8px;
}

.asof-date {
	float: left;
	width: 22%;
	padding: 5px 4px;
}

.search-icons {
	float: right;
	background-color: #f38d08;
	padding: 4px;
	border-radius: 0 3px 3px 0;
	width: 52px;
	text-align: center;
}

.radios {
	width: 22px;
  height: 15px;
  float: left;
}

.radio-labels {
	line-height: 25px;
  float: left;
}

.header-top {
	margin-top: 50px;
}


header {
	background-color: #075dda;
	color: #fff;
}

footer.navbar-fixed-bottom {
	background-color: #4e5357;
	color: #fff;
	padding: 3px 0;
}

.small-header {
	font-weight: bold;
	font-size: 13px;
}

.loadImg-div {
	width: 100%;
	float: left;
	display: none;
}

.loadImg1 {
	margin-left: 50%;
	margin-top: 80px;
}

.form-horizontal .control-label{
		text-align: left;
}

.form-horizontal .form-group {
	margin-bottom: 25px;
}

.form-group {
	padding: 0 !important;
}

.copy-rights {
	width: 230px;
	float: right;
}

.small {
		font-size: 11px;
}

.top-header-row {
		padding: 10px 0 5px;
}

.top-header-row h4 {
	padding: 0;
	margin: 0;
}

.top-header-row h3 {
	margin: 10px 0;
}

.logo-img {
		margin: 10px 0;
		float: left;
}

.header-logo-txt {
	font-size: 24px;
	float: left;
  margin: 2%;
}

.logout a{
	color: #fff;
}

.back-btns {
	line-height: 38px;
	font-size: 14px;
}

.search-header {
	background-color: #ced8ec;
	padding: 0 0 10px 0;
}

.other-headers {
	background-color: #ced8ec;
}

.other-headers h4{
	width: 95%;
	float: left;
}

.search-header h4, .other-headers h4{
	color: #033894;
	font-size: 18px;
}

.search-section {
	background-color: #efefef;
	width: 100%;
	border-radius: 3px;
}

.search-icon {
	width: 32px;
}
/*Headers*/

/*Table*/

table {
	border: solid 1px #b0bbce !important;
	width: 100%;
}

tr:nth-child(even){
	background-color: #f5f5f5;
}

tr:hover {
	background-color: #daeef6 !important;
}

table thead tr th{
	background-color: #abddee;
	color: #233f83;
	border-bottom: solid 1px #adbace !important;
	border-right: 0;
	padding: 10px 18px 10px 10px !important;
	text-align: center;
}

table tbody tr td{
	font-size: 12px;
	text-align: center;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background-color: #e9e9e9;
}

table.table-condensed thead tr th{
	padding: 0 !important;
}

.navbar-nav > li > a {
	background-color: #ccc;
	color: #000;
	font-size: 14px;
}

.main-container {
	min-height: 490px;
	padding: 20px 0;
}

.user-logsection {
	float: left;
	width: 92%;
}

.username {
	margin: 0;
}

.profile-img {
	width: 32px;
	margin-top: 1%;
}

.master-form {
	margin-bottom: 25px;
}

table#form-list {
	margin-bottom: 10px !important;
	margin-top: 20px;
}

table th{
	font-size: 13px;
	padding-left: 10px;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

table tbody td{
	text-align: left;
	font-size: 13px;
	padding-left: 10px;
}

.master-form tr td {
	background-color: #fff;
}
/*
.user-image {
	float: left;
}


.user-image img{
	width: 36px;
}*/

@media only screen
/*and (min-device-width : 768px)*/
and (max-device-width : 1200px)  {
	.other-headers h4 {
	    width: 92%;
	}

	.user-logsection {
		width: 86%;
	}

	.search-bys {
		width: 40%;
	}

	.search-bys .h5-bold {
		display: block;
	}

	.search-bys select, #datetimepicker2 {
		float: left;
	}

	.search-icons {
		padding: 18px 5px;
	}

}

/**/
.row {
	margin: 0;
}

input[type="text"], select {
	width: 56%;
}

.label {
	width: 40%;
	vertical-align: top;
	float: left;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
    padding-right: 10px;
}

.selector-multiple {
	padding: 4px 3px 6px;
}

select {
	padding: 4px 3px 6px;
}

select option {
	padding: 2px;	
}

.search-btns {
    margin-bottom: 0 !important;
}

.top-search-items {
	background-color: #fff;
    padding: 6px;
    border-radius: 3px;
}

.top-search-items .col div {
	margin: 5% 0;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
	background-image: none !important;
	/*background-image: url("../images/sort_desc.png") !important;
	background-position-y: 7px;
	background-position: 0 7px;*/
}

table.dataTable thead .sorting:first-child, table.dataTable thead .sorting_asc:first-child, table.dataTable thead .sorting_desc:first-child{
	/*background-image: none !important;
	width: 7px !important;
    padding: 0 !important;*/
}

.dataTables_info {
	display: none;
}

.radioContain {
	font-size: 14px;
    font-weight: bold;
}

.selectFileTypes {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-lables {
	float: left;
    width: 100px;
    line-height: 25px;
}

#uploadForms input[type="text"] {
	float: left;
}

.btns {
	padding: 4px;
    font-size: 12px;
    text-decoration: inherit;
}

.btns:hover {
	color: #fff !important;	
}

.form-group textarea {
    width: 56%;
	height: 88px;
	border: 1px solid #333;
}

textarea {
	resize: none;
}

.nav.nav-tabs {
	border: 0 !important;
	margin-top: 20px;
}

.nav-tabs > li {
	margin-right: 4px;
}

.nav-tabs > li.active a{
	font-weight: bold;
	background-color: #212C62 !important;
	color: #fff !important;
}

.nav-tabs > li > a:hover {
	background-color: transparent;
	border: 0;
}

.nav-tabs > li > a {
    color: #666;
    font-weight: bold;
    border: 0;
	text-decoration: none;
	padding: 6px 15px;
}

.small-txtbx {
	width: 40% !important;
	border-radius: 0 !important;
}

.col {
	margin: 0;
	padding: 0;
}

.small-btns {
	width: 108px !important;
	border-radius: 0 !important;
	background-color: #333333 !important;
	color: #fff;
	line-height: 18px;
}

.resetbtn, .resetdrp {
	background-color: #666666 !important;
	border-radius: 3px;
}

.resetdrp {
	color: #fff;
    padding: 2px 6px;
    text-decoration: none;
}

.searched-items li {
	display: inline-block;
	margin-right: 2px;
}

#uploadForms {
	padding: 0 35px;
	min-height: 500px;
	border: 2px solid #212c62;
	border-radius: 3px;
	margin-bottom: 30px;
}

#formHome {
	border: 2px solid #212c62;
	min-height: 500px;
	padding: 0 35px;
	margin-bottom: 35px;
}

.login-container {
	margin: 100px;
	background: #c6cedd;
}

.acc-login {
	float: left;
}

.proj-name {
	float: left;
	margin: 21px 20px 0 !important;
}

.mant-symbol {
	color: red;
	margin-left: 3px;
}

.success-msg, .success-msg1, .success-msg2 {
	text-align: center;
    padding: 6px;
    border: solid 1px #abddee !important;
    color: #233f83;
    display: none;
    border-radius: 4px;
    font-weight: bold;
}

.error-msg {
	color: red;
    font-size: 13px;
    font-weight: bold; 
}
    
.loadImg {
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: rgba(0,0,0,0.31);
    text-align: center;
    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.31);
}

.error-mark {
	border: solid 1px red !important;
}

.login-error {
	color: red;
	float: right;
	padding: 0 10% 7px;
}

.show-error {
	display: none;
	color: red;
	margin-top: 10px;
	position: absolute;
    margin-left: 100px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #000 !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	margin-bottom: 10px;
}

.form-title {
	width: 70%;
    float: left;
}

.dwn-btns {
	margin-top: 22px;
    display: inline-block;
    border: 0;
    border: solid 1px #485179 !important;
}

.logouts {
	color: #fff;
    font-size: 14px;
    display: block;
    margin-top: 20px;
    text-align: right;
}

a.logouts:hover {
	color: #fff !important;
}

.selections {
	margin-bottom: 4px;
}

.searched-items {
	display: none;
}

.searched-items1 {
    width: 176px;
    margin: 0 0 0 85px !important;
    margin-top: 0 !important;
}

.selections {
	margin-bottom: 2px !important;
}

.searched-items ul {
	padding-left: 0;
}

a.resetdrp {
	font-size: 11px;	
}

a.resetdrp:hover, a.resetdrp:focus{
	color: #fff !important;
	text-decoration: none !important;	
}

tfoot {
	display: none;
}

tfoot th{
	padding:0 2px !important;
}

tfoot input[type="text"] {
	width: 100% !important;
	color: #ccc;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_length {
	float: right;
}

.clum-hide span input, .first.paginate_button, .last.paginate_button, .dataTables_filter {
	display: none !important;
}

#policyDetails_length select {
	width: 50px;
	border: 0;
	font-size: 14px;
    color: #212c62 !important;
    padding: 0;
    margin: 0;
	text-decoration: underline;
}

#policyDetails thead th.no-sort {
	cursor: auto;
}

#policyDetails thead th {
	padding: 7px 2px !important;
}
#policyDetails thead th img{
	margin-top: -10px;
}

.change-style {
	color: #333 !important;
	font-size: 12px !important;
}


div.DTTT_container {
	visibility: hidden;
	position: absolute;
}

table.dataTable tr.DTTT_selected.odd, table.dataTable tr.DTTT_selected.even td.sorting_1, table.dataTable tr.DTTT_selected.odd td.sorting_1, table.dataTable tr.DTTT_selected.even {
	background-color: #fff !important;
}

#selecctall1{
	display: none;
}

a.paginate_active {
	box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333 !important;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 2px;
}

table.dataTable tbody td {
	cursor: auto;
}

button[disabled]{
    color: #A29E9E !important;
    border: solid 1px #ccc !important;
}

.modal-content {
	padding: 25px 20px 30px;
}

#manditems, #lob, #souritems {
	/*width: 200px;*/
}

#formHome .label {
	width: 33%;
}

.loggedin-label {
	color: #7EE241;
    font-weight: 700;
}

.loggedin-label b{
	color: #fff;
    text-transform: capitalize;
}

